
#navigation-bar{
    background-color: black;
    width: 8vw;
}
.site-logo img {
    width: 8vw;
    padding: 1vw;
    color: white;
}
.navigation-menus{
    font-size: 5vw;
    text-align: center;
    & i{
        color: white;
    }
}